:root {
  --button-color: #b68f40;
  --border-color: #3e442b;
  --bg-color: #E8E1CA;
  --button-hover-color: #c9a15b;
}

body {
  margin: 0;
  padding: 0;
}
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
}